/*Fuente*/

@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@600 & display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Montserrat';
}
html {
    scroll-behavior: smooth;
}
#inicio {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("/img/fondo\ inicio1.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
#inicio .contenido header{
    background-color: rgba(0,0,0,.8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#inicio .contenido header .contenido-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
#inicio .contenido header .contenido-header h1{
    text-align: center;
    color:cyan
}

#inicio .contenido header .contenido-header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}
/* separacion de contenidos y detalles*/
#inicio .contenido header .contenido-header nav ul li a{
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}
#inicio .contenido header .contenido-header nav ul a:hover{
    color: cyan;
}

#inicio .contenido header .contenido-header .redes a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}

#inicio .contenido header .contenido-header .redes a:hover{
    color:cyan;
}

#inicio .contenido header .contenido-header .seleccionado{
    color: cyan;
}

/*centro de pagina y presentacion*/
#inicio .contenido .presentacion{
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio .contenido .presentacion .bienvenida{
    font-size:  16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing:  5px;
}

#inicio .contenido .presentacion h2{
    font-size:  55px;
    margin-bottom:  25px;
    text-align: center;
}

#inicio .contenido .presentacion h2 span{
    font-size: 40px;
    color: cyan;
}

#inicio .contenido .presentacion .descripcion {
    max-width:  700px;
    margin:  25px auto;
    font-size: 18px;
    text-align: center;
}

/*boton de llamada a la accion*/
#inicio .contenido .presentacion a{
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}
#inicio .contenido .presentacion a:hover{
    background-color: cyan;
}

/*trancision iconos*/
#icono-nav{
    color: #fff;
    display: none;
}

/*parte dos seccion sobre mi*/
#sobremi {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("/img/fondo\ prueba1.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
#sobremi{
    max-width: 1400px;
    margin: auto;
    padding:  100px 15px;
    color:white;
    display: flex;
}
#sobremi .contenedor-foto {
    max-width:  400px;
    margin-right: 80px;
}
#sobremi .contenedor-foto img{
    padding: 20px;
    width:  100%;
    border-radius: 20px;
    background-color: #f3f3f3;
}
#sobremi .sobremi{
    margin:  0 40px;
}

#sobremi .sobremi .titulo-seccion{
    font-size: 30px;
    font-weight: bold;
    text-transform:  uppercase  ;
    color: rgb(134, 226, 226);
    text-decoration: underline;
    text-decoration-color: #d3d3d3 ;
    text-decoration-thickness: 10;
}
#sobremi .sobremi h2 {
    font-size: 43px;
    font-weight:  bold;
    margin: 20px 0;
}
#sobremi .sobremi h2 span{
    color: cyan;
}
#sobremi .sobremi h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform:  uppercase;
    margin-bottom: 20px;
    letter-spacing:  1px;
}
#sobremi .sobremi p{
    font-size: 14px;
    line-height: 25px;
    color: white;
    margin-bottom: 12px;
}

#sobremi .sobremi a{
    display: inline-block;
    text-decoration: none;
    color:white;
    border-radius: 30px;
    padding: 10px 20px;
    border: 1px solid cyan;
    margin-top: 30px;
    transition: .5s;
}
#sobremi .sobremi a:hover{
    background-color: cyan;
    color: #fff;
}

/*PARTE 3 seccion de servicios */

#servicios {
    padding: 100px 15px;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("/img/fondo\ prueba\ 2.jpg");
}
/*terminar
#servicios {
    padding: 100px 15px;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("/img/fondo\ prueba\ 3.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
*/
#servicios .titulo-seccion{
    font-size: 22px;
    text-transform:  uppercase;
    color: white;
    text-decoration: underline;
    text-decoration-color: #d3d3d3 ;
    text-decoration-thickness: 5px;
}
#servicios .fila{
    display:  flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 30px auto;
}
#servicios .fila .servicios{
    max-width: 350px;
    background-color: #fff;
    padding: 30px;
    margin: 0 5px;
    border-radius: 5px;
    transition: .5s;
}
#servicios .fila .servicios:hover{
    box-shadow: 5px 5px 10px cyan, -5px -5px 10px #8a8a8a;
}
#servicios .fila .servicios h4{
    font-size: 22px;
    margin-bottom: 25px;
    color: cyan;
}
#servicios .fila .servicios .icono{
    display:  inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d3d3d3;
    padding: 20px;
    margin-bottom: 25px;
}
#servicios .fila .servicios hr{
    width: 30%;
    margin: auto;
    color: #000;
    margin-bottom: 25px;
}
#servicios .fila .servicios ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: bold;
}
#servicios .fila .servicio p{
    font-size: 14px;
    line-height: 22px;
}

/*parte 4 estilos de apartado de habilidades*/

.contenedor-skills{
    background:  linear-gradient(cyan, rgba(33, 16, 16, .8)), url("/img/git\ \ parte\ 4.gif");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    text-align: center;
    font-weight: bold;
}
.contenedor-skills .skill{
    max-width: 600px;
    margin: 30px auto;
}
.contenedor-skills .skill .info{
    display: flex;
    justify-content: space-between;
}
.contenedor-skills .skill .lista{
    display: inline-block;
    margin-right: 20px;
    height: 10px;
    width: 10px;
    background-color: #fff;
}
.contenedor-skills .skill .barra{
    background-color: #919191;
    width: 100%;
    height: 6px;
    margin: 10px 0  ;
}
/*javascript variables*/
.contenedor-skills .skill .barra .barra-progreso1{
    background-color: #fff;
    width: 95%;
    height: 6px;
    animation: progreso1 2s forwards;
}
.contenedor-skills .skill .barra .barra-progreso2{
    background-color: #fff;
    width: 95%;
    height: 6px;
    animation: progreso2 2s forwards;
}
.contenedor-skills .skill .barra .barra-progreso3{
    background-color: #fff;
    width: 95%;
    height: 6px;
    animation: progreso3 2s forwards;
}
.contenedor-skills .skill .barra .barra-progreso4{
    background-color: #fff;
    width: 95%;
    height: 6px;
    animation: progreso4 2s forwards;
}
.contenedor-skills .skill .barra .barra-progreso5{
    background-color: #fff;
    width: 95%;
    height: 6px;
    animation: progreso5 2s forwards;
}
.contenedor-skills .skill .barra .barra-progreso6{
    background-color: #fff;
    width: 95%;
    height: 6px;
    animation: progreso6 2s forwards;
}
.contenedor-skills .skill .barra .barra-progreso7{
    background-color: #fff;
    width: 95%;
    height: 6px;
    animation: progreso7 2s forwards;
}
.contenedor-skills .skill .barra .barra-progreso8{
    background-color: #fff;
    width: 95%;
    height: 6px;
    animation: progreso8 2s forwards;
}
.contenedor-skills .skill .barra .barra-progreso9{
    background-color: #fff;
    width: 95%;
    height: 6px;
    animation: progreso 2s forwards;
}
.contenedor-skills .skill .barra .barra-progreso10{
    background-color: #fff;
    width: 95%;
    height: 6px;
    animation: progreso10 2s forwards;
}
/*javascript funcion*/
@keyframes progreso1{
    0%{
        width:0;
    }
    100%{
        width:95%;
    }
}
@keyframes progreso2{
    0%{
        width:0;
    }
    100%{
        width:90%;
    }
}
@keyframes progreso3{
    0%{
        width:0;
    }
    100%{
        width:85%;
    }
}
@keyframes progreso4{
    0%{
        width:0;
    }
    100%{
        width:95%;
    }
}
@keyframes progreso5{
    0%{
        width:0;
    }
    100%{
        width:95%;
    }
}
@keyframes progreso6{
    0%{
        width:0;
    }
    100%{
        width:95%;
    }
}
@keyframes progreso7{
    0%{
        width:0;
    }
    100%{
        width:95%;
    }
}
@keyframes progreso8{
    0%{
        width:0;
    }
    100%{
        width:95%;
    }
}
@keyframes progreso9{
    0%{
        width:0;
    }
    100%{
        width:95%;
    }
}
@keyframes progreso10{
    0%{
        width:0;
    }
    100%{
        width:95%;
    }
}
/*PARTE 5 SECCION DE PORTAFOLIO */
#portafolioo{
    max-width: 1100px;
    padding: 100px 0;
    margin: auto;
}

#portafolioo .titulo-seccionn {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3 ;
    text-decoration-thickness: 5px ;
}
/*aquii es */
#portafolioo .fila {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
#portafolioo .fila .proyecto{
    max-width: 450px;
    border: 1px solid#000;
    margin: 0 10px;
}
#portafolioo .fila .proyecto img{
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
}
#portafolioo .fila .proyecto:hover img{
    filter: grayscale(0);
}
#portafolioo .fila .proyecto .info{
    position: absolute;
    left: 0;
    background-color: rgba(0,0,0,.8);
    color: cyan;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40%;
    transition: .5s;
}
#portafolioo .fila .proyecto:hover .info{
    opacity: 1;
    bottom: 0;
}

/*Parte 6 contacto y redes*/

#contacto{
    padding: 100px 15px;
}

#contacto .titulo-seccion{
    margin-bottom: 20px;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
#contacto .contenedor-form{
    max-width: 1100px;
    margin: auto;
}
#contacto .contenedor-form .fila{
    margin-bottom: 15px;
}
#contacto .contenedor-form .mitad{
    display: flex;
    justify-content: space-between;
}
#contacto .contenedor-form input,
#contacto .contenedor-form textarea{
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
}
#contacto .contenedor-form .mitad input{
    width: 48%;
}
#contacto .contenedor-form .input-full{
    width: 100%;
}
#contacto .btn-enviar{
    display: block;
    margin: auto;
    cursor:pointer;
    transition: .5s;
    padding:  10px 15px;
    font-size: 18px;
    font-weight: bold;
}
#contacto .btn-enviar:hover {
    background-color: cyan;
    color: #fff;
}
footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

footer a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}
/*responsive*/

@media screen and (max-width:800px) {
    .redes{
        display: none;
    }
    nav{
        display: none;
    }
    nav.responsive{
        display: block;
        background-color: rgba(0,0,0,.8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }
    nav.responsive ul {
        display: block !important;
        text-align: center;  
    }
    nav.responsive ul li{
        margin: 5px 0;
    }
    #icono-nav{
        display: block;
    }
    #inicio .contenido .presentacion h2 {
        font-size: 40px;
    }
    #sobremi {
        padding: 50px 0;
        display: block;
    }
    #sobremi .contenedor-foto {
        max-width: 200px;
        margin: auto;
    }
    #sobremi .contenedor-foto img {
        padding: 8px;
    }
    #sobremi .sobremi .titulo-seccion{
        text-align: center;
    }
    #sobremi .sobremi h2 {
        font-size: 25px;
        text-align: center;
    }
    #servicios {
        padding: 50px 15px;
    }
    #servicios .fila {
        display: block;
    }
    #servicios .fila .servicio{
        margin: 10px auto;
    }
    #contenedor-skills {
        padding: 50px 20px;
    }
    #portafolioo {
        padding: 5px 0;
    }
    #portafolioo .fila{
        display: block;
    }
    #portafolioo .fila .proyecto{
        margin: 10px auto;
    }
    #contacto {
        padding: 50px 15px;
    }
    #contacto .contenedor-form .mitad {
        margin-bottom: 15px;
        display: block;
    }
    #contacto .contenedor-form .mitad input {
        width: 100%;
        margin-bottom: 15px;
    }
}